.pagination-container {
  display: flex;
  gap: 20px;
}

.pagination-point {
  width: 20px;
  height: 20px;
  background: linear-gradient(#bfc3fc, #a2c3fc);
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.pagination-point.active {
  width: 50px;
  height: 20px;
  border-radius: 50px;
}