:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark light;
    background-color: var(--white-app);
    color: var(--dark-gray);
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small,
a {
    margin: 0;
    padding: 0;
}

a {
    color: var(--blue);
}